<div class="row">
    <div class="col m12">
        <h5>Inqueries</h5>

        <hr>
        <button class="btn  modal-trigger" href="#modal1" style="position: absolute; top: 10px;right: 10px;">+</button>
    </div>
</div>
<div class="row">
    <div class="col m12">
        <table>
            <thead>
              <tr>
                  <th>InQ Id</th>
                  <th>Customer IDcard</th>
                  <th>Customer Name</th>
                  <th>Disription</th>
                  <th>Catogaries</th>
                  <th>Date</th>
                  <th>Assign To</th>
                  <th>Cus Status</th>
                  <th>Inq Status</th>
                  <th>Action</th>
              </tr>
            </thead>
    
            <tbody>
              <tr></tr>
         
             
            </tbody>
          </table>
    </div>
</div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h5>Add Inquery</h5>
      <hr>
     <div class="row">
         <div class="col s12">
             <label for="">
                 Discription
             </label>
             <textarea   class="materialize-textarea" cols="30" rows="10"></textarea>
         </div>
     </div>
    </div>
    <div class="modal-footer">
      <button href="#!" class=" btn modal-close waves-effect waves-green #a1887f brown lighten-2">Submit</button>
    </div>
  </div>
