<div class="container">
  <div class="row">
    <div class="col s12">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.caronjgreaves.com%2Fbook-caron%2F&psig=AOvVaw0BVMzZpTS_pNpdfPYn0EL4&ust=1626364456520000&source=images&cd=vfe&ved=0CAoQjRxqFwoTCNij7fX14vECFQAAAAAdAAAAABAc" alt="">
      <h6>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil
        aspernatur inventore ex. Non veniam aliquam harum, labore autem itaque
        et sequi ab voluptatum, odio, reiciendis ipsa adipisci assumenda
        repudiandae enim.
      </h6>
      <h6>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil
        aspernatur inventore ex. Non veniam aliquam harum, labore autem itaque
        et sequi ab voluptatum, odio, reiciendis ipsa adipisci assumenda
        repudiandae enim.
      </h6>
    </div>
  </div>
</div>
