<div class="" style="height: 30px;background-color:#1d1919;">
<div class="">
  <div class="container center-align">
    <div class="col s12" style="padding: 5px;"> 
      <span style="color: whitesmoke;">
        <i class="material-icons" style="vertical-align: bottom;">email </i> www.info.com

      </span>
      &nbsp;
      <span style="color: whitesmoke;">
        <i class="material-icons" style="vertical-align: bottom;">call </i> 333:1010

      </span>
      &nbsp;
      <span style="color: whitesmoke;">
        <i class="material-icons" style="vertical-align: bottom;">public </i> Facebook

      </span>
    </div>
  </div>
</div>
</div>
  <nav class="" style="background-color:#f9f8f8"> 
      <div class=" " style="padding-left: 20px;">
        <div class="nav-wrapper  ">
            <a href="#!" class="brand-logo  " style="color: black;" >ExperGlobal</a> 
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i style="color: black;" class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down " >
              <li ><a  style="color: black; font-weight: bold;"  routerLink="" class="">Home</a></li>
              <li><a  style="color: black; font-weight: bold;"  routerLink="about">About us</a></li>
              <li><a  style="color: black; font-weight: bold;"  routerLink="services">Service</a></li>
              <li><a  style="color: black; font-weight: bold;"  routerLink="head-quarters">HeadQuarters</a></li>
              <li><a  style="color: black; font-weight: bold;"  routerLink="partner">Partners</a></li>
              <li><a  style="color: black; font-weight: bold;"  routerLink="event">Events</a></li>
              <!-- <li><a  style="color: black; font-weight: bold;"  routerLink="contacts">Contact</a></li> -->
            
            </ul>
          </div>
      </div>

  </nav>
  <router-outlet></router-outlet>
  <ul class="sidenav" id="mobile-demo">
    <li ><a  style="color: black; font-weight: bold;"  routerLink="" class="">Home</a></li>
    <li><a  style="color: black; font-weight: bold;"  routerLink="about">About us</a></li>
    <li><a  style="color: black; font-weight: bold;"  routerLink="services">Service</a></li>
    <li><a  style="color: black; font-weight: bold;"  routerLink="head-quarters">HeadQuarters</a></li>
    <li><a  style="color: black; font-weight: bold;"  routerLink="partner">Partners</a></li>
    <li><a  style="color: black; font-weight: bold;"  routerLink="event">Events</a></li>
  </ul>
