<div class="row">
    <div class="col m4 col s12">
        <div class="card z-depth-4">
            <div class="card-image">
              <img src="../../assets/img/sjJAnNK.jpeg">
              <span class="card-title" style="color: black;font-weight: bolder;">Our Mission</span>

            </div>
            <div class="card-content" style="background-color: #d5dcd1;">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
          
          </div>
    </div>
    <div class="col m4 col s12">
        <div class="card z-depth-4">
            <div class="card-image">
                <img src="../../assets/img/sjJAnNK.jpeg">
              <span class="card-title" style="color: black;font-weight: bolder;">Our Mission</span>

            </div>
            <div class="card-content" style="background-color: #d5dcd1;">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
          
          </div>
    </div>
    <div class="col m4 col s12">
        <div class="card z-depth-4">
            <div class="card-image">
                <img src="../../assets/img/sjJAnNK.jpeg">
              <span class="card-title" style="color: black;font-weight: bolder;">Our Mission</span>

            </div>
            <div class="card-content" style="background-color: #d5dcd1;">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
          
          </div>
    </div>
</div>
