/* You can add global styles to this file, and also import other style files */
button{
  margin: 2.5px;
}

a {
  color: white;
}

  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }
  .input-field [type=text] {
    color: black;
}
video {
  position: absolute;
  transform: rotate(90deg);

  transform-origin: bottom left;
  width: 100vh;
  height: 100vw;


  z-index: 4;
  visibility: visible;
}