<div class="row">
    <div class="col m12">
      <h5>Client</h5>
  
      <hr />
      <i class="material-icons" style="position: absolute;
      top: 15px;
      color: #c3966e;
      right: 484px; vertical-align: bottom">search</i>
      <input [(ngModel)]="filter" style="    position: absolute;
      border-radius: 10px;
      top: 2px;
      padding-left: 40px;
      width: 354px;
      right: 129px;background-color: #0000000a; " type="text" name="" id="">
      <button
        class="btn #fafafa grey waves-effect modal-trigger N/A transparent z-depth-0 "
        href="#modal1"
        style="position: absolute; top: 10px; right: 10px;color: #c3966e;"
      >
        <i style="vertical-align: bottom" class="material-icons">add</i>New client
      </button>
    </div>
  </div>

<div class="row">
  <div class="col m12">
    <table>
      <thead>
        <tr>
            <th>Customer Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Contact number</th>

        </tr>
      </thead>

      <tbody>
        <tr    *ngFor="
        let x of collection | paginate: { itemsPerPage: 10, currentPage: p }|filter:filter
      ">
          <td>{{x.oldId}}</td>
          <td>{{x.name}}</td>
          <td>{{x.address}}</td>
          <td>{{x.contactEmail}}</td>
          <td>{{x.contactNumber}}</td>
        </tr>
        
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal" style="padding-right: 41px; padding-left: 41px">
    <div class="modal-content">
      <h5>
       New
        Customer
      </h5>
      <hr />
      <div class="row">
        <div class="col s12">
          <input placeholder="Customer ID " type="text"  [(ngModel)]="customerId" />
        </div>
        <div class="col s6">
          <input placeholder="name" type="text" [(ngModel)]="name" />
        </div>
        <div class="col s6">
          <input placeholder="address" type="text" [(ngModel)]="address" />
        </div>
        <div class="col s6">
          <input placeholder="contact email" type="text" [(ngModel)]="email" />
        </div>
        <div class="col s6">
          <input placeholder="contact number" type="text" [(ngModel)]="contact" />
        </div>
    </div>
    <div class="modal-footer">
      <button
      style="color: #c3966e;"
        href="#!"
        class="btn modal-close waves-effect N/A transparent z-depth-0"
       (click)="addClient()"
      >
        Submit
      </button>
    </div>
  </div>